#heading_static {
    box-sizing: border-box;
    background-color: rgb(13, 3, 54);
    color: yellow;
    height: 5%;
    width: 100%;
    margin: 0px;
}

.topic_select {
    box-sizing: border-box;
    height: 6.5vh;
    /* background-color: aquamarine; */
    position: relative;
    /* padding-top: 5%;
    padding-bottom: 5%; */
    width: 100vw;
    display: block;
    box-shadow: 0px 0px 2px 0px lightblue;
}

.tabs {
    /* display: inline-block; */
    /* float: left; */
    box-sizing: border-box;
    height: 90%;
    /* border-bottom: 2px solid darkblue; */
    /* border-radius: 20%; */
    margin-top: 0.325vh;
    text-align: center;
    line-height: 200%;
    margin-right: -4px;
}


.topic {
    display: inline-block;
    float: left;
    width: 23.3vw;
    margin-left: 0.5vh;
    background-color: White;
    font-weight: Bold;
    padding-right: 0px;
}

.topic_active {
    background-color: rgb(0, 0, 104);
    font-weight: Bold;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;
    color: white;
}

.icon {
    float: right;
    width: 5vh;
    margin-right: 1%;
    font-weight: Bold;
    border: none;
    /* border: 2px solid gray; */
}

.middle {
    margin-top: 0.5vh;
    box-sizing: border-box;
    width: 100vw;
}

.small_question {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    height: 82vh;
    width: 69%;
    margin-right: 1.2%;
    box-shadow: 1px 1px 1px 1px pink;
    border-bottom-right-radius: 0.7vw;
}


.small_question>.question_area {
    box-sizing: border-box;
    height: 32.8vh;
    width: 90%;
    /* background-color: whitesmoke; */
    /* border-bottom: 1px solid darkblue; */
    margin-left: 5%;
    margin-top: 4.55vh;
}


.answer_area {
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

.options {
    box-sizing: border-box;
    border: 2px solid grey;
    height: 8.2vh;
    margin-top: 0.5vh;
    line-height: 8.2vh;
    padding-left: 1vw;
}

p {
    margin: 0px;
    font-weight: bold;
}

.question_navigator {
    box-sizing: border-box;
    width: 90%;
    align-items: center;
    padding-left: 20%;
    padding-top: 1.5vh;
}

.navigation_button {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
}

.right {
    height: 82vh;
    width: 29%;
    display: inline-block;
    float: left;
    margin-right: 0.0%;
}

.question_counter {
    height: 19vh;
    /* border-bottom: 2px solid darkblue; */
    box-shadow: -1px 1px 0px 1px lightpink;
    border-radius: 0.5vw;
    margin-bottom: 1vh;
}

.counter {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 47%;
    margin-top: 1vh;
    margin-left: 1.5%;
    height: 8vh;
    /* border: 1px solid gray; */
}

.counter>div {
    position: absolute;
    display: inline-block;
    height: 11vh;
}

.counter>.number {
    display: inline-block;
    top: 1.5vh;
    height: 5vh;
    width: 5vh;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5vh;
    line-height: 5vh;
}

.question_access {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    box-sizing: border-box;
    margin-top: 3vh;
    padding: 1vh;
    gap: 1vh;
    box-shadow: -1px 1px 0px 1px lightpink;
    border-radius: 0.5vw;

    /* padding: 1vh; */

}

/* .question_access>div { */
/* background-color: white; */
/* height: 4.9vw; */
/* border-bottom-left-radius: 2.45vw; */
/* border-top-right-radius: 2.45vw; */
/* text-align: center; */
/* vertical-align: middle; */
/* line-height: 4.9vw; */
/* font-weight: bold; */
/* border: 2px solid rgb(32, 109, 67); */
/* border: 2px solid darkolivegreen */
/* } */

.question_access>div {
    background-color: palevioletred;
    height: 4.9vw;
    border-bottom-left-radius: 2.45vw;
    border-top-right-radius: 2.45vw;
    text-align: center;
    vertical-align: middle;
    line-height: 4.9vw;
    font-weight: bold;
    /* border: 2px solid rgb(32, 109, 67); */
    border: 2px solid rgb(201, 83, 123)
}

.question_access>.current_question {
    background-color: mediumseagreen;
    border: 1px solid darkolivegreen;
    box-shadow: 1px 1px 1px 1px rgb(55, 70, 31);
}

.question_access>.marked_review {
    background-color: blueviolet;
    border: 2px solid darkblue;
}


/* grid settings */
/* .grid_container_topic_select {
    display: inline-grid;
    background-color: aquamarine;
    height: 6.5vh;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.grid_tabs {
    grid-column: 1/5;
} */